html {
  box-sizing: border-box;
  background-color: #eaeaea;
/*	background: linear-gradient(
      rgba(30, 30, 30, 0.90), 
      rgba(30, 30, 30, 0.90)
    ), url(../images/marble1024.jpg);*/
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	width: 100%;
	overflow-x: hidden;
	background: #e1e1ed;
	font-family: 'Droid Sans', sans-serif;
/*	background-image: -webkit-gradient(radial, center center, 0, center center, 141, from(#fff), to(#444)); 
	background-image: -webkit-radial-gradient(center center, circle contain, #fff 0%, #444 200%);
	background-image: -moz-radial-gradient(center center, circle contain, #fff 0%, #444 200%);
	background-image: -ms-radial-gradient(center center, circle contain, #fff 0%, #444 200%);
	background-image: -o-radial-gradient(center center, circle contain, #fff 0%, #444 200%);
	background-image: radial-gradient(center center, circle contain, #fff 0%, #444 200%);
*/
/*	background: linear-gradient(
      rgba(255, 255, 255, 0.85), 
      rgba(255, 255, 255, 0.85)
    ), url(../images/marble1024.jpg);
*/	max-width: 1200px;
	background: #eaeaea;
	margin: 0 auto;
}
html {
	width: 100%;
}
* { 
	border: 0;
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: 14px;
}
.board {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}	

.board-inner {
	position: relative;
	width: 100%;
	height: 100%;
}
.board-container {
	padding: 30px;
	border: 1px solid #fff;
	vertical-align: top;
	background: linear-gradient(
      rgba(30, 30, 180, 0.45), 
      rgba(30, 30, 180, 0.45)
    ), url(../images/marble1024.jpg);
	background-size: 100% 100%;
	margin: 12px;
	float: left;
	width: 65%;
	box-shadow: 0 5px 25px rgba(50, 50, 50, 0.6);
}
.board-container.flipped {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.board-container.flipped .piece {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
@media (max-width: 820px) {
	.board-container {
		width: 100%;
		float: none;
		margin: 12px auto;
	}
}
#checkerboard {
	background-color: #fff;
	border: 1px solid #fff;
}
.square {
	width: 12.5%;
	height: 12.5%;
	border: 1px solid #fff;
	display: inline-block;
	float: left;
	transition: 0.2s box-shadow linear;
}
.square.white {
	background-color: rgba(200, 200, 255, 0.5);
}
.square.black {
	background-color: rgba(55, 55, 95, 0.5);
}
.square.white:hover {
	background-color: rgba(220, 220, 255, 0.7);
}
.square.black:hover {
	background-color: rgba(85, 85, 135, 0.7);
}
.square:hover, .square.hover {
	background-color: rgba(220,220,220,0.7);
	box-shadow: 0 0 24px #fff;
}
.controlpanel {
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	float: left;
}
.piece {
	font-size: inherit;
	font-weight: 800;
	position: absolute;
	width: 12.5%;
	height: 12.5%;
	text-align: center;
	display: block;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	cursor: pointer;
	line-height: 114%;
}
.isPlayerMove .piece {
	opacity: 0.7;
}
.isPlayerMove .movablePiece {
	opacity: 1;
}
.pwhite {
	color: #fff;
	text-shadow: 0 0 4px #000;
}
.pblack {
	color: #000;
	text-shadow: 0 0 4px #fff;
}
/*.square.black {
	background-color: #704326;
}
.square.white {
	background-color: #dbb98c;
}*/
.fen {
	width: 70%;
}
input[type=text], select {
	padding: 5px;
	border: 1px solid #000;
}
input[type=button] {
	margin: 0;
	background-color: #fff;
	cursor: pointer;
	border: 1px solid #aaa;
	padding: 5px;
}
#page {
	width: 100%;
	white-space: nowrap;
	margin: 10px auto;
	position: relative;
}
.board-info {
	width: 360px;
	display: inline-block;
	vertical-align: top;
}
.info-panel {
	float: right;
	width: 100%;
	color: #000;
	padding: 0;
	margin-top: 13px;
	background-color: #fff;
	padding-bottom: 10px;
	margin-bottom: 10px;
	box-shadow: 0 5px 25px rgba(50, 50, 50, 0.6);
}
.info-panel-content {
	max-height: 250px;
	margin: 0;
	width: 100%;
	overflow-y: auto;
	padding-top: 13px;
}
.info-panel p.info-panel-header, h1 {
	color: #fff;
	width: 100%;
	text-align: left;
	font-size: 16px;
	background-color: #348;
	line-height: 28px;
	text-indent: 16px;
	border-bottom: 2px solid #454486;
	border-right: 2px solid #454486;
	border-left: 30px solid #454486;
/*	background: linear-gradient(
      rgba(30, 30, 30, 0.45), 
      rgba(30, 30, 30, 0.45)
    ), url(../images/marble1024.jpg);*/
    background: #000;
    letter-spacing: 1px;
    padding: 5px 0;
	box-shadow: 0 5px 25px rgba(50, 50, 50, 0.6);
}
h1 {
	font-size: 28px;
	line-height: 42px;
	padding-top: 50px;
}
.info-panel p {
	width: 95%;
	margin: 0 auto;
}
#info-container {
	float: left;
	width: 37%;
}
@media (max-width: 820px) {
	#info-container {
		width: 100%;
		float: none;
	}
}

#movelist {
	width: 95%;
	margin: 0 auto;
}
#engine-output {
	white-space: normal;
	min-height: 50px;
}
.engine-output-text {
	height: calc(100% - 40px);
	overflow-y: auto;
	width: 95%;
	margin: 10px auto;
}
.engine-output-text span {
	font-weight: bolder;
}
#possible-moves {
	display: none;
	height: 550px;
	overflow-y: auto;
	width: 115px;
}
#possible-moves li {
	list-style-position: outer;
	font-family: courier;
}
#possible-moves li span {
	font-family: courier;
}
#possible-moves li:hover {
	background-color: #665500;
	cursor: pointer;
}
#game-moves {
	overflow-y: auto;
}
#game-moves li {
	list-style-position: outer;
	font-family: courier;
	display: block;
	float: left;
	height: 21px;
}
#game-moves li.movenumber {
	width: 18px;
	color: #444;
	/*clear: both;*/
}
#game-moves li.move-item {
	width: auto;
	color: #000;
	margin-right: 12px;
}
#game-moves li.move-item span {
	font-family: courier;
}
#game-moves li.move-item:hover {
	background-color: #99c;
	cursor: pointer;
}
.fromsq {
	background-color: rgba(0,255,0,0.6);
}
.tosq {
	background-color: #ff0000;
}
.modal {
	display: none;
	position: absolute;
	z-index: 9;
	left: 0;
	top: 0;
	height: 115px;
	width: 300px;
	background-color: #051122;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #4444ff;
	padding: 5px;
	text-align: center;
}
.modal p {
	color: #fff;
}
input.promote-button {
	width: 50px;
	height: 50px;
	font-size: 35px;
	border: 1px solid #999;
	background-color: #fff;
}
#player-settings-container {
	/*height: 90px;*/
}
#player-settings-container form p {
	margin: 8px;
}
.player-panel {
	/*height: 250px;*/
	color: #000;
	white-space: normal;
}
.player-panel.active {
	/*box-shadow: 0 0 43px #004 inset;*/
}
.player-color select {
	border: 1px solid #000;
}
.player-dd {
	margin-left: 10px;
}
#game-controls {
	text-align: center;
	margin-bottom: 15px;
}
#game-controls input[type=button] {
	margin: 0;
}
.page-side {
	display: inline-block;
	vertical-align: top;
}
.left-side {
	width: 60%;
}
.right-side {
	width: 39%;
}
#movelist p {
	white-space: normal;
}
input[type=button].cancel-modal {
	display: block;
	margin: 6px auto;
}
.modal {
	left: 145px;
	top: 50px;
}

.info-panel-about ul {
	padding-left: 54px;
	margin: 5px 0 17px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
